* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	/* background-image: url("bg.jpg");
	background-size: cover;
	background-position: top center; */
}

.app-wrap {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* background-image: linear-gradient(
		to bottom,
		rgba(127, 178, 206, 1),
		rgb(152, 96, 224)
	); */
	background-image: linear-gradient(
		to bottom,
		rgba(126, 167, 255, 0.562),
		rgba(151, 96, 224, 0.486),
		rgba(158, 154, 104, 0.603)
	);
	/* background: rgba(126, 167, 255, 0.562); */
	position: relative;
}

section {
	scroll-margin-top: 7rem;
}

.header_container {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header {
	background: #3a3895;
	/* box-shadow: 0px 2px 20px 10px rgb(0, 20, 85); */
	position: sticky;
	top: 0;
	z-index: 2;
}

header .logo svg {
	height: 80px;
}

header input {
	width: 100%;
	max-width: 300px;
	padding: 10px 15px;
	height: 50px;
	justify-self: center;
	align-self: center;
	border: none;
	outline: none;
	background-color: #615fbc;
	border-radius: 16px 0px 16px 0px;
	border-bottom: 3px solid #8a88ff;

	color: white;
	font-size: 18px;
	font-weight: 300;
	transition: 0.2s ease-out;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #d0d0d0;
	opacity: 1; /* Firefox */
}

header input:focus {
	background-color: rgba(125, 123, 170, 0.685);
}

nav {
	background: rgb(2, 0, 94);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	position: sticky;
}

nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	width: 60%;
	max-width: 1000px;
	margin: auto;
}

nav ul li a {
	width: 100%;
	color: white;
	text-decoration: none;
	font-size: 16px;
	transition: 0.2s ease-in;
	padding-bottom: 2.5px;
}

nav ul li a:hover {
	border-bottom: 1px rgb(187, 184, 255) solid;
	color: rgb(187, 184, 255);
}

main {
	flex: 1 1 100%;
	padding: 25px 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-align: left;
}

.card {
	width: 60%;
	max-width: 1000px;
	height: 100%;
	margin-bottom: 2rem;
	border-radius: 13px;
	padding: 1.5rem;
	position: relative;
	box-shadow: 3px 3px 10px 0px rgba(71, 42, 126, 0.541);
}

.card:first-child {
	background: linear-gradient(to bottom, #2a37aa, rgba(95, 111, 255, 0.21));
}

.card:nth-child(n + 2) {
	background: linear-gradient(to bottom, #3e4bb9, rgba(106, 95, 255, 0.21));
}

.location .city,
.aqiTitle .abbrev,
.detailedWeather,
.hourlyForecast,
.dailyForecast {
	color: #fff;
	font-size: 33px;
	font-weight: 400;
	margin-bottom: 5px;
}

.location .date,
.aqiTitle .full {
	color: rgb(207, 207, 207);
	font-weight: 300;
	font-size: 25px;
	margin-left: 0.4rem;
}

.location .time {
	color: rgb(207, 207, 207);
	font-weight: 300;
	font-size: 18px;
}

.current .temp {
	color: #fff;
	font-size: 100px;
	font-weight: 900;
	margin-bottom: 20px;
	text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
	font-weight: 500;
}

.temp {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1.8fr 1fr;
}

.current .temp img {
	height: 160px;
	width: 160px;
	justify-content: center;
	align-items: center;
}

.current .weather {
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 3px;
}

.current .hi-low {
	color: #fff;
	font-size: 25px;
	font-weight: 500;
}

.aqiContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	margin-top: 0.4rem;
	height: 100%;
}

.aqiLeft {
	display: grid;
	grid-template-rows: auto auto auto;
}

.aqiLeft .aqiNumber {
	color: #fff;
	font-size: 100px;
	margin-bottom: 1rem;
	font-weight: 900;
	text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.aqiContainer .aqiLeft .aqiLabel button {
	background: rgb(25, 184, 25);
	outline: none;
	border: none;
	padding: 1rem 2rem;
	font-weight: 500;
	color: white;
	font-size: 28px;
	border-radius: 20px;
}

.aqiContainer .aqiLeft .additional {
	font-weight: 300;
	color: white;
	font-size: 15px;
	margin-top: 1rem;
}

.aqiContainer .aqiRight {
	align-self: start;
	font-weight: 500;
	color: white;
	font-size: 18px;
	margin-top: 1.2rem;
}

.table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1.2rem;
	margin-top: 1rem;
}

.table .tableLeft,
.table .tableRight {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	color: white;
	font-size: 18px;
	font-weight: 200;
	row-gap: 0.9rem;
}

.table .tableLeft {
	border-right: white solid 1px;
}

.table .tableLeft .row,
.table .tableRight .row {
	display: flex;
	justify-content: space-between;
	padding-right: 1.5rem;
}

.rowLeft svg {
	height: 20px;
	width: 20px;
	color: white;
}

.hourlyRow,
.dailyRow {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 0.5rem;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	color: white;
	font-size: 20px;
	font-weight: 300;
}

.hourlyRow .col,
.dailyRow .col {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.hourlyRow .col .time,
.dailyRow .col .time {
	margin-bottom: 0.2rem;
}

.hourlyRow .col:first-child .time,
.dailyRow .col:first-child .time {
	font-weight: 600;
}

.hourlyRow .col .temps,
.dailyRow .col .temps {
	font-size: 30px;
	font-weight: 800;
}

.hourlyRow .col img,
.dailyRow .col img {
	height: 70px;
}

@media only screen and (max-width: 1120px) {
	.card {
		width: 70%;
	}
}

@media only screen and (max-width: 980px) {
	.card {
		width: 80%;
	}
}

@media only screen and (max-width: 830px) {
	.card {
		width: 90%;
	}

	.aqiContainer .aqiLeft .aqiLabel button {
		font-size: 22px;
		padding: 0.5rem 1.5rem;
	}
}

@media only screen and (max-width: 700px) {
	.card {
		width: 98%;
	}
}

@media only screen and (max-width: 600px) {
	.location .city,
	.aqiTitle .abbrev,
	.detailedWeather,
	.hourlyForecast,
	.dailyForecast {
		font-size: 25px;
	}

	.location .date,
	.aqiTitle .full {
		font-size: 20px;
	}

	.location .time {
		font-weight: 300;
		font-size: 15px;
	}

	.current .temp {
		color: #fff;
		font-size: 65px;
		margin-bottom: 0px;
	}

	.current .temp span {
		font-weight: 500;
	}

	.temp {
		display: block;
		position: relative;
	}

	.current .temp img {
		height: 180px;
		width: 180px;
		position: absolute;
		right: 0;
		top: -40px;
	}

	.current .weather {
		font-size: 20px;
	}

	.current .hi-low {
		font-size: 20px;
	}

	.aqiContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1rem;
		margin-top: 0.4rem;
		height: 100%;
	}

	.aqiLeft {
		display: grid;
		grid-template-rows: auto auto auto;
	}

	.aqiLeft .aqiNumber {
		font-size: 65px;
	}

	.aqiContainer .aqiLeft .aqiLabel button {
		padding: 0.5rem 1rem;
		font-size: 20px;
		width: 90%;
	}

	.aqiContainer .aqiRight {
		font-size: 15px;
		margin-top: 0.5rem;
	}

	.table {
		column-gap: 0.5rem;
	}

	.table .tableLeft,
	.table .tableRight {
		font-size: 15px;
		row-gap: 0.5rem;
	}

	.table .tableLeft {
		border-right: white solid 1px;
	}

	.table .tableLeft .row,
	.table .tableRight .row {
		display: flex;
		justify-content: space-between;
		padding-right: 1.5rem;
	}

	.table .tableLeft .row svg,
	.table .tableRight .row svg {
		height: 15px;
	}

	.hourlyRow,
	.dailyRow {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 0.2rem;
		font-size: 15px;
	}

	.hourlyRow .col .temps,
	.dailyRow .col .temps {
		font-size: 22px;
	}
}

@media only screen and (max-width: 430px) {
	.header_container {
		width: 95%;

		justify-content: space-between;
	}

	header .logo svg {
		height: 70px;
		width: 70px;
	}

	header input {
		width: 60%;
		height: 40px;
		font-size: 15px;
	}

	nav ul {
		width: 80%;
	}

	main {
		padding: 10px 0px;
	}

	.card {
		width: 97%;
		padding: 1rem;
		margin-bottom: 1rem;
	}

	.location .city,
	.aqiTitle .abbrev,
	.detailedWeather,
	.hourlyForecast,
	.dailyForecast {
		font-size: 22px;
	}

	.location .date,
	.aqiTitle .full {
		font-size: 18px;
	}

	.location .time {
		font-weight: 300;
		font-size: 13px;
	}

	.current .temp {
		color: #fff;
		font-size: 50px;
		margin-bottom: 0px;
		text-shadow: none;
	}

	.current .temp img {
		height: 120px;
		width: 120px;
		top: -30px;
	}

	.current .weather {
		font-size: 18px;
	}

	.current .hi-low {
		font-size: 18px;
	}

	.aqiLeft .aqiNumber {
		font-size: 50px;
		text-shadow: none;
	}

	.aqiContainer .aqiLeft .aqiLabel button {
		padding: 0.5rem 1rem;
		font-size: 18px;
		width: 100%;
	}

	.aqiContainer .aqiLeft .additional {
		font-size: 14px;
	}

	.aqiContainer .aqiRight {
		font-size: 15px;
		margin-top: 0.5rem;
	}

	.table {
		column-gap: 0.2rem;
	}

	.table .tableLeft,
	.table .tableRight {
		font-size: 14px;
	}

	.table .tableLeft {
		border-right: white solid 1px;
	}

	.table .tableLeft .row,
	.table .tableRight .row {
		display: flex;
		justify-content: space-between;
		padding-right: 1rem;
	}

	.table .tableLeft .row svg,
	.table .tableRight .row svg {
		height: 15px;
	}

	.hourlyRow,
	.dailyRow {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 0.2rem;
		font-size: 15px;
	}

	.hourlyRow .col .temps,
	.dailyRow .col .temps {
		font-size: 22px;
	}
}

@media only screen and (max-width: 376px) {
	.table {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 0rem;
	}

	.table .tableLeft,
	.table .tableRight {
		font-size: 16px;
	}

	.table .tableLeft {
		border-right: none;
	}

	.table .tableLeft .row,
	.table .tableRight .row {
		padding-right: 0rem;
		border-bottom: rgba(255, 255, 255, 0.404) solid 0.5px;
		margin-bottom: 0.2rem;
		padding-bottom: 0.3rem;
	}

	.table .tableLeft .row svg,
	.table .tableRight .row svg {
		height: 16px;
	}

	.hourlyRow,
	.dailyRow {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 0.2rem;
		font-size: 15px;
	}

	.hourlyRow .col .temps,
	.dailyRow .col .temps {
		font-size: 18px;
	}

	.hourlyRow .col img,
	.dailyRow .col img {
		height: 50px;
	}
}

@media only screen and (max-width: 300px) {
	.aqiContainer {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.5fr;
	}

	.aqiLeft .aqiNumber {
		text-align: center;
		font-size: 80px;
	}
	/* 
	.aqiContainer .aqiLeft .aqiLabel button {
		background: rgb(25, 184, 25);
		outline: none;
		border: none;
		padding: 1rem 2rem;
		font-weight: 500;
		color: white;
		font-size: 28px;
		border-radius: 20px;
	}

	.aqiContainer .aqiLeft .additional {
		font-weight: 300;
		color: white;
		font-size: 15px;
		margin-top: 1rem;
	}

	.aqiContainer .aqiRight {
		align-self: start;
		font-weight: 500;
		color: white;
		font-size: 18px;
		margin-top: 1.2rem;
	} */

	.hourlyRow,
	.dailyRow {
		column-gap: 0.1rem;
		font-size: 15px;
	}

	.hourlyRow .col .temps,
	.dailyRow .col .temps {
		font-size: 17px;
	}

	.hourlyRow .col img,
	.dailyRow .col img {
		height: 40px;
	}
}
